* {
    margin: 0;
    padding: 0;
}

span {
    align-self: auto;
    font-family: Arial;
}

.month {
    font-size: 18px;
    font-weight: bold;
}

#review {
    font-size: 24px;
}

#main-info {
    font-size: 24px;
    height: 200px;
}

#main-ico, #main-value {
    font-size: 96px;
}

#month-ico {
    font-size: 48px;
}